<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.aatg.myfirstproject" android:versionCode="3"
	android:versionName="3.0">
	<uses-sdk android:minSdkVersion="9" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

	<application android:label="@string/app_name" android:icon="@drawable/aatg">
		<activity android:name=".MyFirstProjectActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="MyListActivity" android:label="My List Activity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity android:name="MyContactsActivity" android:label="My Contacts Activity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>

		<provider android:name=".provider.MyProvider"
			android:authorities="com.example.aatg.myfirstproject.provider"></provider>

	</application>
</manifest>